registry=http://your-nexus-server:8081/repository/npm-hosted/
http://54.152.167.139:8081/repository/bankapp/:_auth=YWRtaW46YWRtaW4xMjM=
http://54.152.167.139:8081/repository/bankapp/:username=admin
http://54.152.167.139:8081/repository/bankapp/:_password=YWRtaW46YWRtaW4xMjM=
http://54.152.167.139:8081/repository/bankapp/:alexaedgesystems@gmail.com
always-auth=true
