registry=http://54.152.167.139:8081/repository/bankapp/
//54.152.167.139:8081/repository/bankapp/:_auth=YWRtaW46YWRtaW4xMjM=
//54.152.167.139:8081/repository/bankapp/:email=info@mylandmarktech.com
always-auth=true
allow-republish=true


