registry=http://54.152.167.139:8081/repository/bankapp/
//54.152.167.139:8081/repository/bankapp/:_auth=YWRtaW46YWRtaW4xMjM=
//54.152.167.139:8081/repository/bankapp/:username=admin
//54.152.167.139:8081/repository/bankapp/:_password=YWRtaW46YWRtaW4xMjM=
//54.152.167.139:8081/repository/bankapp/:email=admin@example.com
always-auth=true

